$orange: #f06543;
$platinum: #e8e9eb;
$lightgrey: #e0dfd5;
$darkgrey: #313638;
$sandy: #f09d51;
.App {
  .Header.Container {
    color: $darkgrey;

    .logo {
      height: 3em;
    }

    .nav-bar {
      .navbar {
        background-color: $orange;
      }
    }
  }
}
